/* Google Fonts Typography */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */

header {
    background-color: #173c88;
    color: white;
    padding: 50px 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Main Section */

section {
    padding: 40px 20px;
}

/* Image Gallery */

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

/* Images */

.gallery img {
    width: 400px;
    max-width: 100%;
    border-radius: 12px;
    transition: transform 0.4s ease, filter 0.4s ease;
}

/* Image Hover Effects */

.gallery img:hover {
    transform: scale(1.08) rotate(2deg);
    filter: brightness(80%);
}